/******* Common *******/
h2 {
    text-align: center; 
    padding: 40px 0 20px;
}

/******* ODS Grid *******/
.grid-row:before, .grid-row::after {
    content: " ";
    display: table;
}
.grid-row::after {
    clear: both;
}
.grid-col {
    float: left;
}
.grid-col:not(:last-child) {
    margin-right: 2%;
}
.grid-col-1-of-4 {
    width: 23.5%;
}
/******* Common update template (Bootstrap,..) *******/

/******* Campaign Tabs *******/
.campaign-tabs {
    background-color: #e7eaed;
    padding: 20px 30px;
    width: 100%;
}
.campaign-tabs a {
    color: #5c5d5e;
    font-weight: bold;
    margin-right: 50px;
}
.campaign-tabs a:hover {
    text-decoration: underline;
}
/******* Campaign Tab More Info *******/
.campaign-tab-more-info {
    font-size: 110%;
    padding: 20px 40px;
}
.campaign-tab-more-info h3 {
    border-bottom: 2px grey solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.campaign-tab-more-info div {
    text-align: justify;
}
/******* Campaign Tab Comments *******/
.campaign-tab-comments {
    padding: 20px 25px;
}
.campaign-tab-comments > div {
    margin-bottom: 15px;
}
.campaign-comment {
    padding: 10px 20px;
    border: 1px lightgray solid;
    border-radius: 10px;
}
.campaign-comment .row {
    margin-left: 0;
    margin-right: 0;
}
.campaign-comment:not(:last-child) {
    margin-bottom: 15px;
}
.campaign-comment img {
    max-width: 60px;
    border-radius: 50%;
}
.comment-avatar {
    font-size: 80%;
    margin-bottom: 5px;
}
.comment-avatar .col {
    padding: 0 5px;
}
@media (max-width: 950px)  {
    .campaign-tab-comments {
        padding: 20px 0px;
    }
}
@media (max-width: 414px)  {
    .campaign-comment {
        padding: 10px 12px;
    }
}
.form-create-comment .form-group {
    margin-bottom: 7px;
}
.btn-delete-x {
    color: green;
    /* padding: 5px; */
    border-radius: 50%;
    border: green 1px solid;
    /* height: 18px; */
    /* width: 18px; */
    text-align: center;
    content: 'x';
}
.btn-delete-x span {
    vertical-align: middle;
}
/******* Campaign Tab Donations *******/
.campaign-tab-donations {
    padding: 20px 45px;
}
.donor-items {
    margin: 0 auto;
}
.donor-item {
    margin: 0 0 15px;
}
.donor-item .col {
    padding: 0 5px;
}

.donor-item > div > h5 {
    color: grey;
    font-size: 110%;
    margin-bottom: 5px;
}
.donor-item img {
    max-width: 60px;
    max-height: 50px;
    border-radius: 50%;
}
@media (max-width: 950px)  {
    .campaign-tab-donations {
        padding: 20px 0px;
    }
}
/******* Campaign Tab Ratings *******/
.campaign-ratings {
    padding: 20px 30px;
}
.campaign-rating > div:first-of-type {
    margin-bottom: 10px;
}
