.alert {
    padding: .3rem 0.7rem;
    margin: 7px auto 5px;
}

/* Buttons */
.btn-super-sm {
    padding: .2rem .3rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
/* Button Share FB */
.box-btn-fb {
    margin: 0 10px 10px;
}
.box-btn-fb button {
    width: 100%;
}
.btn-share-fb {
    color: #fff;
    border-radius: 5px;
    background-color: #395b98;
    padding: .375rem .75rem;
}
.btn-share-fb:hover:not(:active) {
    opacity: 0.75;
}
/*----- Button Share FB -----*/