/***************/
/***** Host Manage Campaign *****/
/***************/
.my-campaign-management {
    min-height: 82vh;
}
/***************/
/***** Host manage campaign posts *****/
/***************/
/* Host list posts */
.host-list-posts,
.form-create-campaign-post,
.preview-campaign-post {
    padding-top: 25px;
    padding-bottom: 30px;
}
.host-list-posts header {
    display: none;
}
.host-list-posts .table td {
    padding: .3rem;
}
.host-list-posts .table td.post-title:hover { 
    cursor: pointer;
}
.host-list-posts a {
    color: initial;
}
/* Host create post */
.form-create-campaign-post form > div {
    margin-bottom: 10px;
}

@media (min-width: 576px) {
    .form-create-campaign-post,
    .host-list-posts,
    .preview-campaign-post {
        max-width: 1100px;
    }
}
/***************/
/***** Host manage campaign expenses *****/
/***************/
/* Host list expenses */
.host-list-expenses-container {
    padding: 25px 12px 30px;
    min-height: 85vh;
}
.host-list-expenses {
    margin: 0 auto;
    max-width: 800px;
}
.host-list-expenses table thead {
    font-size: 110%;
    font-weight: 550;
}
.host-list-expenses table tr td {
    padding: .45rem;
}
.host-list-expenses table tr td:first-of-type {
    max-width: 50px;
}
.host-list-expenses table tr td:last-of-type {
    width: 80px;
}
.host-list-expenses table tr td:nth-of-type(3) {
    text-align: center;
    max-width: 220px;
}
.expense-description {
    font-size: 83%;
    /* margin-top: -6px; */
    line-height: 122%;
}
@media (max-width: 575px) {
    .host-list-expenses table tr td:last-of-type {
        width: 50px;
    }
    .host-list-expenses table tr td:last-of-type button:first-of-type {
        margin-right: 0;
        margin-bottom: 5px;
    }
}