/***************/
/***** Host Manage Campaign *****/
/***************/
.my-campaign-management {
    min-height: 82vh;
}
/***************/
/***** Host manage campaign posts *****/
/***************/
/* Host list posts */
.host-list-posts,
.form-create-campaign-post,
.preview-campaign-post {
    padding-top: 25px;
    padding-bottom: 30px;
}
.host-list-posts .table td {
    padding: .3rem;
}
.host-list-posts .table td.post-title:hover { 
    cursor: pointer;
}
.host-list-posts a {
    color: initial;
}
/* Host create post */
.form-create-campaign-post form > div {
    margin-bottom: 10px;
}

@media (min-width: 576px) {
    .form-create-campaign-post,
    .host-list-posts,
    .preview-campaign-post {
        max-width: 700px;
    }
}