.campaign-of-profile {
    margin-bottom: 10px;
}
.campaign-of-profile > div:first-of-type img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}
.campaign-of-profile > div:last-of-type {
    padding: 12px 10px 10px;
    border: 1px #ccc solid;
    border-top: none;
    border-radius: 0 0 5px 5px;
}
.campaign-of-profile h5 {
    font-size: 105%;
    font-weight: bold;
}
.campaign-of-profile .description-box {
    font-size: 90%;
}
.campaign-of-profile .description-box > div:first-of-type {
    margin-bottom: -8px;
}