/******* Commons *******/
.btn-style-one {
    line-height: 85%;
}
.btn-style-one-outline {
    background-color: none;
    border: 2px #3cc88f solid;
}
.btn-style-one-outline:hover {
    font-weight: bold;
    transition: all 0.3s ease;
}

/******* Campaign Statistic *******/
.campaign-stats {
    text-align: center;
    margin-bottom: 10px;
}
.campaign-stats ul .list-inline-item {
    text-align: center;
    font-size: 90%;
}
.campaign-stats ul .list-inline-item span {
    display: block;
    margin-top: -8px;
}
.list-inline-item:not(:last-child) {
    margin-right: 0.75rem
}
/******* Campaign Progress *******/
.campaign-progress {
    font-size: 90%;
    margin-bottom: 20px;
}
.campaign-progress .campaign-progress-number > div:first-of-type {
    float: left;
}
.campaign-progress .campaign-progress-number > div:last-of-type {
    float: right;
}
.progress {
    height: 0.5rem;
}
/******* Campaign Subscribe *******/
.campaign-subscrible {
    margin: 0 10px 10px;
}
.campaign-subscrible button {
    width: 100%;
}
/******* Campaign Donate *******/
.btn-donate {
    text-align: center;
    padding: 10px;
    width: 100%;
}
.btn-donate .btn-title {
    border-radius: 5px;
}
/******* Rating Host Container *******/
.rating-host-container {
    /* fix row margin */
    margin: 0;
}
@media (min-width: 576px) and (max-width: 991px)  {
/* setting style for children of .rating-host-container (when displaying .col-md-6 .col-sm-6 */
.rating-host-container > aside:first-of-type {
    max-width: 48.5%;
    margin-right: 1.5%;
}
}

/******* Campaign Host Info Box *******/
.host-info {
    font-size: 90%;
    /* fix container padding margin */
    padding: 0;
    margin: 0;
}
.host-info .row {
    /* fix row margin */
    margin: 0;
}
.host-info .child {
    /* fix col margin */
    padding: 0;
}
.host-info .host-name h6:hover {
    color: #777;
}
.host-info .host-name {
    padding: 7px 0 7px 15px;
}
.host-info .avatar {
    width: 100%;
    max-width: 60px;
}
.host-info img {
    border-radius: 50%;
}
.host-info .icon-color-one {
    color: #3cc88f;
    font-size: 105%;
    margin-right: 5px;
}

/******* Campaign Rating Box *******/
.star-checked {
    color: orange;
}
.rating-overview-point {
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    padding: 10px 0;
}
.rating-stars {
    font-size: 120%;
}
.rating-users {
    font-size: 90%;
}
/******* Cause Block *******/
.cause-block .lower-content {
    padding: 20px 10px;
}

/******* Campaign Detail Nav Bar *******/
.campaign-detail .navbar {
    background-color: #e7eaed;
    font-size: 105%;
    padding: 0;
}
.campaign-detail .navbar .active {
    font-weight: bold;
    text-decoration: underline;
}
.campaign-detail .navbar ul {
    width: 100%;
}
.campaign-detail .navbar ul li{
    width: 100%;
    padding: 5px 10px;
}
.campaign-detail .navbar a {
    color: #5c5d5e;

}

@media (min-width: 576px) and (max-width: 575px)  {
/* setting style for children of .rating-host-container (when displaying .col-md-6 .col-sm-6 */
.rating-host-container > aside:first-of-type {
    max-width: 48.5%;
    margin-right: 1.5%;
}
}