.host-manage-dashboard {
    padding: 35px 12px 30px;
    min-height: 87vh;
}

/****** group-of-stats ******/
.group-of-stats {
    margin-bottom: 35px;
}
.group-of-stats h5 {
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 12px;
}

/****** my-campaign-stats-item ******/
.my-campaign-stats-item {
    text-align: center;
}
.stats-number {
    padding: 17px 12px;
    border: 3px solid #b4e2f5;
    border-radius: 3px;
    margin-bottom: 2px;
    font-size: 175%;
    font-weight: bold;
}
.stats-name {
    font-size: 95%;
}

/****** my-pie-chars ******/
.my-pie-item {
    /* margin: 0 auto; */
    max-width: 300px;
}
.my-pie {
    margin-bottom: 15px;
}

/* my-chart */
.my-chart {
    border-top: 1px solid rgba(231,234,237,1);
    padding: 30px 0;
}
.my-chart-title {
    text-align: center;
    padding-top: 115px;
}